.header{
    position: sticky;
    top: 1px;
    display:flex;
    padding-bottom: 120px;
    border-bottom: 0.2px solid lightcoral;
    z-index: 999;
}

.headerLeft {
    display: flex;
    height: 10px;
}

.headerLeft > img{
    object-fit: contain;
    height: 100px; 
}

.headerRight {
    display: flex;
}

.headerRight > img {
    object-fit: contain;
    height: 10px;

}
